{
    "botToken": "Bot-Token-Here",
    "ezl": {
		"id": "233300409308020736",
		"channels": {
			"applications": {
				"hr": "379518674853167104"
			},
			"live": "362745752390205451",
			"prrequest": "379017837789839361"
		}
	},
    "lottery": {
        "onOff": true,
        "chance": 1000,
        "amount": 1000,
        "cooldown": 1000
    },
	"testers": [],
    "vgKey": ""
}
