{
    "botToken": "MzY0MDgxNDM0NDg4NzMzNjk2.DO0wcg.3gEDMDgjfUK3mbo6i-YmKxZbx8w",
    "ezl": {
		"id": "233300409308020736",
		"channels": {
			"applications": {
				"hr": "379518674853167104"
			},
			"live": "360828870674350100",
			"prrequest": "360626035563167754"
		}
	},
    "lottery": {
        "onOff": true,
        "chance": 1000,
        "amount": 1000,
        "cooldown": 1000
    },
	"testers": [],
    "vgKey": ""
}
